.root {
  @apply sticky flex items-center w-full top-0 bg-accents-0 z-40 transition-colors duration-300 h-header lg:h-header-lg;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

  &.transparent {
    & + * {
      margin-top: calc(0px - var(--header-height));
    }
    @apply bg-transparent shadow-none  hover:bg-accents-0;
  }
  &.hasScrolled {
    @apply bg-accents-0;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
  }
}

.link {
  @apply text-h7  h-header flex items-center  truncate transition ease-in-out duration-75 cursor-pointer relative overflow-hidden leading-extra-loose;
}
.link:after {
  @apply absolute inset-x-0 bottom-0 w-0 border-b-2;
  content: '';
  transition: width 0.3s;
}
.link:hover {
  @apply text-primary;
}

.link.active:after {
  @apply w-full left-0 border-primary;
}
.link:hover:after {
  @apply text-primary w-full left-0;
}
.link:focus {
  @apply outline-none text-primary;
}

.logo {
  @apply px-md mx-16 isolate flex justify-center;
}
.item {
  @apply cursor-pointer relative transition ease-in-out duration-100 outline-none;
  & svg {
    @apply text-xl;
    stroke-width: 1.2;
  }

  &.itemhidden {
    @apply lg:hidden;
  }

  &:hover {
    @apply text-primary transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}
.bagCount {
  @apply bg-primary  flex-shrink-0 text-accents-0 ml-px rounded-full flex items-center justify-center font-bold text-xs;
  width: 1.5em;
  height: 1.5em;
}

@keyframes sidebaranimationOpen {
  0% {
    transform: translateX(-110%);
  }
  110% {
    transform: translateX(0);
  }
}
@keyframes sidebaranimationClose {
  0% {
    transform: translateX(0);
  }
  110% {
    transform: translateX(110%);
  }
}
