.root {
  @apply relative flex items-center;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 outline-none flex items-center;

  & svg {
    @apply text-xl;
    stroke-width: 1.2;
  }
  &.itemhidden {
    @apply lg:hidden;
  }
  &.visibleOnLg {
    @apply hidden lg:block;
  }
  &:hover {
    @apply text-primary transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.bagCount {
  @apply bg-primary border flex-shrink-0 border-accents-0 text-accents-0 ml-1 rounded-full flex items-center justify-center font-bold text-xs;
  width: 1.5em;
  height: 1.5em;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}
