<div class="Container_root__3ON0K Container_small__3RbQv">
  <div class="h-24"></div>
  <div class="max-w-prose flex flex-col items-center text-center space-y-5 mx-auto">
    <h3 class="Text_h3__FaeDt">10% OFF YOUR FIRST ORDER</h3>
    <div class="whitespace-pre-line text-sm md:text-body-2 max-w-md">Sign up to receive 10% your first order
      and be the first to hear about latest news and offers.</div><button data-variant="flat"
      class="Button_root__24MxS">sign up</button>
  </div>
  <div class="h-24"></div>
</div>
{% schema %}
{
  "name": {
    "cs": "ads signup",
    "da": "ads signup",
    "de": "ads signup",
    "en": "ads signup",
    "es": "ads signup",
    "fi": "ads signup",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "ads signup",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "ads signup",
    "nl": "ads signup",
    "pl": "Film",
    "pt-BR": "ads signup",
    "pt-PT": "ads signup",
    "sv": "ads signup",
    "th": "วิดีโอ",
    "tr": "ads signup",
    "vi": "ads signup",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "presets": [
    {
      "name": {
        "cs": "ads signup",
        "da": "ads signup",
        "de": "ads signup",
        "en": "ads signup",
        "es": "ads signup",
        "fi": "ads signup",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "ads signup",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "ads signup",
        "nl": "ads signup",
        "pl": "Film",
        "pt-BR": "ads signup",
        "pt-PT": "ads signup",
        "sv": "ads signup",
        "th": "วิดีโอ",
        "tr": "ads signup",
        "vi": "ads signup",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "ads signup",
        "da": "ads signup",
        "de": "ads signup",
        "en": "ads signup",
        "es": "ads signup",
        "fi": "ads signup",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "ads signup",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "ads signup",
        "nl": "ads signup",
        "pl": "Film",
        "pt-BR": "ads signup",
        "pt-PT": "ads signup",
        "sv": "ads signup",
        "th": "วิดีโอ",
        "tr": "ads signup",
        "vi": "ads signup",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}