<div class=" py-6 px-0 lg:py-12 space-y-6 lg:space-y-10 overflow-x-auto">
  <div style="min-width: 800px;max-width: unset;"
    class=" Container_root__3ON0K md:min-w-full md:w-full ml-[-16px] md:mx-0">
    <div class="md:w-full space-x-xs md:space-x-md flex">
      {% assign featured_row = section.settings.home_featured_row %}
      {% assign row_limit_setting = section.settings.grid %}
      {% case section.settings.grid %}
      {% when 2 %}
      {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
      {%- assign image_size = '540x' -%}
      {% assign width = '540' %}
      {% assign height = '600' %}
      {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium--one-third large--one-third' -%}
      {%- assign image_size = '345x' -%}
      {% assign width = '345' %}
      {% assign height = '550' %}
      {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium--one-quarter large--one-quarter' -%}
      {%- assign image_size = '250x' -%}
      {% assign width = '250' %}
      {% assign height = '225' %}
      {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium--one-fifth large--one-fifth' -%}
      {%- assign image_size = '195x' -%}
      {% assign width = '195' %}
      {% assign height = '175' %}
      {% endcase %}

      {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
      {% assign header_title = collections[featured_row].title %}
      {%- assign more_link = collections[featured_row].url -%}

      {% if collections[featured_row].all_products_count != 0 and section.settings.home_featured_row != blank %}
      {% for product in collections[featured_row].products limit: 4 %}
      {% assign current_collection = collections[featured_row] %}
      {% include 'product-grid-item' %}
      {% endfor %}

      {% else %}
      {% for i in (1..4) %}
      <a class="pl-[16px] flex-1 md:px-[8px] block cursor-pointer " href="/">
        <div class="flex relative items-center w-full bg-gray-100 border border-transparent hover:border-accents-5">
          <div style="padding-top:148.5%"></div>
          <div
            style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          <div class="absolute py-4 bottom-0">
            <div class="px-4 text-[14px] lg:text-header-2 bg-white bg-opacity-25 font-bold uppercase mt-[10px]">product</div>
            <div class="px-4 text-[14x] bg-white bg-opacity-25 uppercase mt-[2px] mb-[10px]">USD
              <!-- -->
              <!-- -->$278.60
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "hi": "फ़ीचर्ड कलेक्शन",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "clearfix",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Fremhevet samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      }
    },
    {
      "type": "collection",
      "id": "home_featured_row",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }

  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektioner",
        "de": "Kategorien",
        "en": "Collections",
        "es": "Colecciones",
        "fi": "Kokoelmat",
        "fr": "Collections",
        "hi": "कलेक्शन",
        "it": "Collezioni",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samlinger",
        "nl": "Collecties",
        "pl": "Kolekcje",
        "pt-BR": "Coleções",
        "pt-PT": "Coleções",
        "sv": "Produktserier",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyonlar",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
