<footer class="Footer_root__3bxSy mt-12 text-center md:text-left">
  <div class="Container_root__3ON0K Container_small__3RbQv">
    <div
      class="w-full grid grid-cols-3 lg:grid-cols-9 gap-y-8 md:gap-y-xl gap-6  transition-colors duration-150 py-8 md:py-11  border-b border-t border-accents-3 md:border-none">
      <div class="col-span-3 space-y-4 lg:space-y-6  ">
        <h4 class="Text_h5__QAQIV">CUSTOMER CARE</h4>
        <ul class=" flex flex-initial flex-col md:flex-1 text-sm space-y-sm lg:space-y-4"><a
            href="/customer-care/shipping">
            <h4 class="Text_h7__2s9oT text-effect-1">SHIPPING</h4>
          </a><a href="/customer-care/returns">
            <h4 class="Text_h7__2s9oT text-effect-1">RETURNS</h4>
          </a><a href="/customer-care/ordering">
            <h4 class="Text_h7__2s9oT text-effect-1">ORDERING</h4>
          </a><a href="/customer-care/garment-care">
            <h4 class="Text_h7__2s9oT text-effect-1">GARMENT CARE</h4>
          </a><a href="/customer-care/size-guide">
            <h4 class="Text_h7__2s9oT text-effect-1">SIZE GUIDE</h4>
          </a><a href="/customer-care/ethics">
            <h4 class="Text_h7__2s9oT text-effect-1">ETHICS</h4>
          </a><a href="/customer-care/faqs">
            <h4 class="Text_h7__2s9oT text-effect-1">FAQS</h4>
          </a><a href="/customer-care/contact-us">
            <h4 class="Text_h7__2s9oT text-effect-1">CONTACT US</h4>
          </a></ul>
      </div>
      <div class="col-span-3 space-y-4 lg:space-y-6">
        <h4 class="Text_h5__QAQIV">OUR BRAND</h4>
        <ul class="flex flex-initial flex-col md:flex-1 text-sm space-y-sm lg:space-y-4"><a href="/#">
            <h4 class="Text_h7__2s9oT text-effect-1">ABOUT</h4>
          </a><a href="/#">
            <h4 class="Text_h7__2s9oT text-effect-1">ETHICS</h4>
          </a><a href="/#">
            <h4 class="Text_h7__2s9oT text-effect-1">JOURNAL</h4>
          </a><a href="/#">
            <h4 class="Text_h7__2s9oT text-effect-1">PRIVACY POLICY</h4>
          </a><a href="/#">
            <h4 class="Text_h7__2s9oT text-effect-1">TERMS &amp; CONDITIONS</h4>
          </a></ul>
      </div>
      <div class="col-span-3 space-y-8 flex flex-col">
        <div class="space-y-sm lg:space-y-4">
          <h4 class="Text_h5__QAQIV">FOLLOW US</h4>
          <div class="space-x-6 inline-flex text-2xl"><span class="rounded-full hover-effect-1"><svg fill="currentColor"
                viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.9846 22V11.9988H15.6472L16 8.55237H12.9846L12.9891 6.82738C12.9891 5.92849 13.0715 5.44685 14.3166 5.44685H15.9812V2H13.3182C10.1196 2 8.9938 3.6719 8.9938 6.48352V8.55276H7V11.9992H8.9938V22H12.9846Z"
                  fill="currentColor"></path>
              </svg></span><span class="rounded-full hover-effect-1"><svg fill="none" viewBox="0 0 24 24" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10.9058 2.00305C11.1183 2.00272 11.3469 2.00282 11.5936 2.00293L12.0001 2.00305C15.2571 2.00305 15.6431 2.01474 16.9293 2.07319C18.1186 2.12757 18.7641 2.32631 19.1941 2.49327C19.7634 2.71437 20.1692 2.97867 20.5959 3.40561C21.0229 3.83255 21.2872 4.23916 21.5088 4.80842C21.6757 5.23791 21.8747 5.8834 21.9288 7.07275C21.9873 8.35866 22 8.74494 22 12.0004C22 15.2558 21.9873 15.6421 21.9288 16.928C21.8745 18.1174 21.6757 18.7629 21.5088 19.1923C21.2877 19.7616 21.0229 20.1669 20.5959 20.5936C20.169 21.0206 19.7636 21.2849 19.1941 21.506C18.7646 21.6737 18.1186 21.8719 16.9293 21.9263C15.6434 21.9848 15.2571 21.9975 12.0001 21.9975C8.74291 21.9975 8.35688 21.9848 7.07097 21.9263C5.88162 21.8714 5.23613 21.6727 4.80588 21.5057C4.23662 21.2846 3.83001 21.0203 3.40307 20.5934C2.97612 20.1664 2.71183 19.7608 2.49022 19.1913C2.32326 18.7618 2.12427 18.1163 2.07014 16.927C2.01169 15.6411 2 15.2548 2 11.9973C2 8.73986 2.01169 8.35561 2.07014 7.0697C2.12453 5.88035 2.32326 5.23486 2.49022 4.80486C2.71132 4.23561 2.97612 3.82899 3.40307 3.40205C3.83001 2.97511 4.23662 2.71081 4.80588 2.48921C5.23587 2.32148 5.88162 2.12325 7.07097 2.06862C8.19627 2.01779 8.63236 2.00254 10.9058 2V2.00305ZM18.5115 4.02849C17.7034 4.02849 17.0477 4.68339 17.0477 5.49179C17.0477 6.29993 17.7034 6.9556 18.5115 6.9556C19.3197 6.9556 19.9753 6.29993 19.9753 5.49179C19.9753 4.68365 19.3197 4.02799 18.5115 4.02799V4.02849ZM5.73573 12.0032C5.73573 8.54375 8.54046 5.73894 11.9999 5.7388C15.4594 5.7388 18.2635 8.54367 18.2635 12.0032C18.2635 15.4627 15.4596 18.2663 12.0001 18.2663C8.5406 18.2663 5.73573 15.4627 5.73573 12.0032Z"
                  fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.9997 7.93701C14.2452 7.93701 16.0658 9.75737 16.0658 12.0031C16.0658 14.2487 14.2452 16.0693 11.9997 16.0693C9.75395 16.0693 7.93359 14.2487 7.93359 12.0031C7.93359 9.75737 9.75395 7.93701 11.9997 7.93701V7.93701Z"
                  fill="black"></path>
              </svg></span><span class="rounded-full hover-effect-1"><svg fill="currentColor" viewBox="0 0 24 24"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path
                    d="M10.2695 15.4205C10.1206 15.9955 9.94889 16.5528 9.83441 17.1214C9.48104 18.8776 8.70976 20.4362 7.58124 21.8316C7.52185 21.9051 7.41855 21.9448 7.33548 22.0002C7.29158 21.9127 7.22185 21.8286 7.20851 21.737C7.05098 20.674 6.9705 19.603 7.12975 18.5375C7.24251 17.7809 7.43361 17.0348 7.60879 16.2883C7.94493 14.8561 8.297 13.4277 8.63358 11.9955C8.66156 11.8755 8.64778 11.7306 8.60689 11.6128C8.27333 10.6491 8.2135 9.68542 8.58537 8.71921C8.74764 8.29716 8.99426 7.92623 9.35967 7.64655C9.90542 7.22872 10.514 7.10113 11.154 7.38841C11.7708 7.66556 11.9993 8.22323 11.9645 8.83455C11.9322 9.39686 11.7949 9.95876 11.6542 10.5088C11.4691 11.2308 11.2311 11.9397 11.0232 12.6567C10.6393 13.9824 11.7299 15.0247 13.0706 14.8367C13.8152 14.7319 14.3859 14.3381 14.849 13.7809C15.5627 12.9228 15.9182 11.9097 16.1131 10.8379C16.2763 9.94059 16.3705 9.03311 16.1837 8.12901C15.8566 6.54473 14.8805 5.5122 13.2996 5.09648C11.507 4.625 9.79524 4.83413 8.26257 5.92707C6.652 7.07578 5.82003 9.30223 6.30122 11.094C6.41657 11.5232 6.61628 11.9106 6.91541 12.2422C7.09618 12.4425 7.13965 12.6491 7.0583 12.9034C6.97652 13.1577 6.92617 13.4218 6.85601 13.6799C6.76563 14.0116 6.56248 14.1108 6.24053 13.9744C5.2506 13.5553 4.64373 12.7906 4.32911 11.8113C3.65165 9.70527 4.04074 7.75766 5.36251 5.9972C6.57668 4.38039 8.25698 3.49023 10.2506 3.1531C11.677 2.91186 13.0999 2.93003 14.4785 3.40658C16.7467 4.1907 18.2621 5.68626 18.8479 8.01283C19.0842 8.95158 19.0132 9.90257 18.8725 10.8472C18.6728 12.1903 18.2264 13.4438 17.3846 14.5354C16.2909 15.9533 14.8434 16.712 13.019 16.7433C11.961 16.761 11.0791 16.3381 10.2695 15.4205Z"
                    fill="currentColor"></path>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="15" height="19" fill="white" transform="translate(4 3)"></rect>
                  </clipPath>
                </defs>
              </svg></span><span class="rounded-full hover-effect-1"><svg fill="none" viewBox="0 0 24 24" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path
                    d="M11.1065 9.94543C11.1065 11.0129 11.1065 12.0464 11.1065 13.003C10.4904 13.0392 9.88979 12.9898 9.33683 13.1249C7.9716 13.4599 7.11057 14.7306 7.20033 16.1418C7.28455 17.4609 8.32509 18.5899 9.66151 18.8117C11.0179 19.0369 12.3698 18.2966 12.8696 17.0161C12.9926 16.702 13.0502 16.3428 13.0513 16.0035C13.0635 11.8872 13.0591 7.76977 13.0591 3.65347C13.0591 3.43711 13.0591 3.22075 13.0591 3C14.1306 3 15.1535 3 16.1696 3C16.4212 6.07075 17.8274 7.74671 21.0022 7.82798C21.0022 8.89549 21.0022 9.9641 21.0022 11.0909C19.3046 11.1634 17.7598 10.7131 16.2527 9.86197C16.2317 10.0443 16.2029 10.1761 16.204 10.3079C16.2206 12.1365 16.2217 13.9662 16.2638 15.7937C16.3381 19.0555 13.7483 21.8122 10.4162 21.9901C7.13716 22.1647 4.31362 19.675 4.02329 16.3527C3.74958 13.2139 6.14205 10.3101 9.3335 9.92017C9.69808 9.87514 10.0693 9.86636 10.4372 9.86526C10.6533 9.86526 10.8705 9.91578 11.1065 9.94543Z"
                    fill="black"></path>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="17" height="19" fill="white" transform="translate(4 3)"></rect>
                  </clipPath>
                </defs>
              </svg></span></div>
        </div>
        <div class="text-sm tracking-wide md:text-sm space-y-sm lg:space-y-6">
          <p class="whitespace-pre-line">hello@tessjean.com
            +84 077 277 0802</p>
          <p class="whitespace-pre-line">Customer Care hours:
            Monday - Friday 8:00am - 4:30pm ICT</p>
        </div>
      </div>
    </div>
  </div>
  <div class="Container_root__3ON0K">
    <div
      class="py-4 md:py-6  flex flex-col md:flex-row justify-between items-center space-y-2 md:space-y-0   md:border-t border-accents-3">
      <div class="flex uppercase text-xs md:text-xs md:flex-1 space-x-6">2021, ALL RIGHTS RESERVED
        TESSJEAN</div>
      <div class="flex space-x-2 items-center text-xxs md:text-xs leading-none font-bold"><svg fill="none"
          height="1em" width="1em" viewBox="0 0 9 12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.08333 0C1.82583 0 0 1.82583 0 4.08333C0 7.14583 4.08333 11.6667 4.08333 11.6667C4.08333 11.6667 8.16667 7.14583 8.16667 4.08333C8.16667 1.82583 6.34083 0 4.08333 0ZM4.08333 5.54167C3.27833 5.54167 2.625 4.88833 2.625 4.08333C2.625 3.27833 3.27833 2.625 4.08333 2.625C4.88833 2.625 5.54167 3.27833 5.54167 4.08333C5.54167 4.88833 4.88833 5.54167 4.08333 5.54167Z"
            fill="black"></path>
        </svg>
        <div>SAIGON, VIETNAM</div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": {
    "cs": "footer",
    "da": "footer",
    "de": "footer",
    "en": "footer",
    "es": "footer",
    "fi": "footer",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "footer",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "footer",
    "nl": "footer",
    "pl": "Film",
    "pt-BR": "footer",
    "pt-PT": "footer",
    "sv": "footer",
    "th": "วิดีโอ",
    "tr": "footer",
    "vi": "footer",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "presets": [
    {
      "name": {
        "cs": "footer",
        "da": "footer",
        "de": "footer",
        "en": "footer",
        "es": "footer",
        "fi": "footer",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "footer",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "footer",
        "nl": "footer",
        "pl": "Film",
        "pt-BR": "footer",
        "pt-PT": "footer",
        "sv": "footer",
        "th": "วิดีโอ",
        "tr": "footer",
        "vi": "footer",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "footer",
        "da": "footer",
        "de": "footer",
        "en": "footer",
        "es": "footer",
        "fi": "footer",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "footer",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "footer",
        "nl": "footer",
        "pl": "Film",
        "pt-BR": "footer",
        "pt-PT": "footer",
        "sv": "footer",
        "th": "วิดีโอ",
        "tr": "footer",
        "vi": "footer",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}