<div class="w-full space-y-md">
  <div class="w-full text-center"><h3 class="text-2xl text-center">JOURNAL</h3></div>
  <div class="w-full py-6 px-0 lg:py-12 space-y-6 lg:space-y-10 overflow-x-auto">
    <div style="min-width: 800px;max-width: unset;"
      class=" Container_root__3ON0K md:min-w-full md:w-full -ml-4 md:mx-0">
      <div class="md:w-full space-x-xs md:space-x-md flex">
        <a class=" md:mx-2 block " href="/blog/at-home-sarah-shabacon">
          <div class="flex relative items-center w-full bg-gray-100">
            <div style="padding-top:61.79775280898876%"></div>
            <div
              style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
              <img alt="Blog Image"
                src="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=3840&amp;q=85"
                decoding="async"
                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                sizes="(max-width: 400px) 200px ,500px"
                srcset="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=16&amp;q=85 16w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=32&amp;q=85 32w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=48&amp;q=85 48w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=64&amp;q=85 64w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=96&amp;q=85 96w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=128&amp;q=85 128w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=256&amp;q=85 256w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=384&amp;q=85 384w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=640&amp;q=85 640w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=750&amp;q=85 750w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=828&amp;q=85 828w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1080&amp;q=85 1080w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1200&amp;q=85 1200w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1920&amp;q=85 1920w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=2048&amp;q=85 2048w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=3840&amp;q=85 3840w">
            </div>
            <div class="absolute text-center inset-0 flex flex-col justify-center items-center ">
              <div class="w-[60%] mx-auto max-w-xs text-white">
                <h3 class="text-[16px] inline-block lg:text-[24px] lg:leading-[29px]">AT HOME: SARAH SHABACON</h3><button
                  data-variant="ghost"
                  class="Button_root__24MxS Button_small__123h_ Button_ghost__32qxu mt-[13px] block w-full"><span
                    class="text-white">read more</span></button>
              </div>
            </div>
          </div>
        </a>
        <a class=" md:mx-2 block " href="/blog/at-home-sarah-shabacon">
          <div class="flex relative items-center w-full bg-gray-100">
            <div style="padding-top:61.79775280898876%"></div>
            <div
              style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
              <img alt="Blog Image"
                src="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=3840&amp;q=85"
                decoding="async"
                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                sizes="(max-width: 400px) 200px ,500px"
                srcset="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=16&amp;q=85 16w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=32&amp;q=85 32w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=48&amp;q=85 48w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=64&amp;q=85 64w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=96&amp;q=85 96w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=128&amp;q=85 128w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=256&amp;q=85 256w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=384&amp;q=85 384w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=640&amp;q=85 640w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=750&amp;q=85 750w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=828&amp;q=85 828w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1080&amp;q=85 1080w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1200&amp;q=85 1200w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=1920&amp;q=85 1920w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=2048&amp;q=85 2048w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Farticles%2Fanh-background-trong-dong-dep_095236757.jpg%3Fv%3D1621237638&amp;w=3840&amp;q=85 3840w">
            </div>
            <div class="absolute text-center inset-0 flex flex-col justify-center items-center ">
              <div class="w-[60%] mx-auto max-w-xs text-white">
                <h3 class="text-[16px] inline-block lg:text-[24px] lg:leading-[29px]">AT HOME: SARAH SHABACON</h3><button
                  data-variant="ghost"
                  class="Button_root__24MxS Button_small__123h_ Button_ghost__32qxu mt-[13px] block w-full"><span
                    class="text-white">read more</span></button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "cs": "homepage journal",
    "da": "homepage journal",
    "de": "homepage journal",
    "en": "homepage journal",
    "es": "homepage journal",
    "fi": "homepage journal",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "homepage journal",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "homepage journal",
    "nl": "homepage journal",
    "pl": "Film",
    "pt-BR": "homepage journal",
    "pt-PT": "homepage journal",
    "sv": "homepage journal",
    "th": "วิดีโอ",
    "tr": "homepage journal",
    "vi": "homepage journal",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "presets": [
    {
      "name": {
        "cs": "homepage journal",
        "da": "homepage journal",
        "de": "homepage journal",
        "en": "homepage journal",
        "es": "homepage journal",
        "fi": "homepage journal",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "homepage journal",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "homepage journal",
        "nl": "homepage journal",
        "pl": "Film",
        "pt-BR": "homepage journal",
        "pt-PT": "homepage journal",
        "sv": "homepage journal",
        "th": "วิดีโอ",
        "tr": "homepage journal",
        "vi": "homepage journal",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "homepage journal",
        "da": "homepage journal",
        "de": "homepage journal",
        "en": "homepage journal",
        "es": "homepage journal",
        "fi": "homepage journal",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "homepage journal",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "homepage journal",
        "nl": "homepage journal",
        "pl": "Film",
        "pt-BR": "homepage journal",
        "pt-PT": "homepage journal",
        "sv": "homepage journal",
        "th": "วิดีโอ",
        "tr": "homepage journal",
        "vi": "homepage journal",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}