<div class=" py-6 px-0 lg:py-12 space-y-6 lg:space-y-10 overflow-x-auto">
  <div style="min-width: 800px;max-width: unset;" class=" Container_root__3ON0K md:min-w-full md:w-full ml-[-16px] md:mx-0">
      <div class="md:w-full space-x-xs md:space-x-md flex">
        <a
            class="pl-[16px] flex-1 md:px-[8px] block cursor-pointer " href="/product/knot-dress-black">
            <div class="flex relative items-center w-full bg-gray-100 border border-transparent hover:border-accents-5">
              <div style="padding-top:148.5%"></div>
              <div
                style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
                <img alt="Knot Dress"
                  src="data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E"
                  decoding="async"
                  style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                  sizes="(max-width: 400px) 200px ,500px"
                  srcset="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=16&amp;q=85 16w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=32&amp;q=85 32w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=48&amp;q=85 48w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=64&amp;q=85 64w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=96&amp;q=85 96w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=128&amp;q=85 128w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=256&amp;q=85 256w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=384&amp;q=85 384w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=640&amp;q=85 640w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=750&amp;q=85 750w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=828&amp;q=85 828w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1080&amp;q=85 1080w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1200&amp;q=85 1200w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1920&amp;q=85 1920w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=2048&amp;q=85 2048w, data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E 3840w">
              </div>
              <div class="absolute py-4 bottom-0">
                <div class="px-4 text-[14px] lg:text-header-2 bg-white bg-opacity-25 font-bold uppercase mt-[10px]">Knot
                  Dress</div>
                <div class="px-4 text-[14x] bg-white bg-opacity-25 uppercase mt-[2px] mb-[10px]">USD
                  <!-- -->
                  <!-- -->$278.60
                </div>
              </div>
            </div>
          </a><a
          class="pl-[16px] flex-1 md:px-[8px] block cursor-pointer " href="/product/knot-dress-black">
          <div class="flex relative items-center w-full bg-gray-100 border border-transparent hover:border-accents-5">
            <div style="padding-top:148.5%"></div>
            <div
              style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
              <img alt="Knot Dress"
                src="data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E"
                decoding="async"
                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                sizes="(max-width: 400px) 200px ,500px"
                srcset="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=16&amp;q=85 16w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=32&amp;q=85 32w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=48&amp;q=85 48w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=64&amp;q=85 64w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=96&amp;q=85 96w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=128&amp;q=85 128w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=256&amp;q=85 256w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=384&amp;q=85 384w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=640&amp;q=85 640w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=750&amp;q=85 750w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=828&amp;q=85 828w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1080&amp;q=85 1080w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1200&amp;q=85 1200w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1920&amp;q=85 1920w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=2048&amp;q=85 2048w, data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E 3840w">
            </div>
            <div class="absolute py-4 bottom-0">
              <div class="px-4 text-[14px] lg:text-header-2 bg-white bg-opacity-25 font-bold uppercase mt-[10px]">Knot
                Dress</div>
              <div class="px-4 text-[14x] bg-white bg-opacity-25 uppercase mt-[2px] mb-[10px]">USD
                <!-- -->
                <!-- -->$278.60
              </div>
            </div>
          </div>
        </a><a
        class="pl-[16px] flex-1 md:px-[8px] block cursor-pointer " href="/product/knot-dress-black">
        <div class="flex relative items-center w-full bg-gray-100 border border-transparent hover:border-accents-5">
          <div style="padding-top:148.5%"></div>
          <div
            style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
            <img alt="Knot Dress"
              src="data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E"
              decoding="async"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
              sizes="(max-width: 400px) 200px ,500px"
              >
          </div>
          <div class="absolute py-4 bottom-0">
            <div class="px-4 text-[14px] lg:text-header-2 bg-white bg-opacity-25 font-bold uppercase mt-[10px]">Knot
              Dress</div>
            <div class="px-4 text-[14x] bg-white bg-opacity-25 uppercase mt-[2px] mb-[10px]">USD
              <!-- -->
              <!-- -->$278.60
            </div>
          </div>
        </div>
      </a><a
      class="pl-[16px] flex-1 md:px-[8px] block cursor-pointer " href="/product/knot-dress-black">
      <div class="flex relative items-center w-full bg-gray-100 border border-transparent hover:border-accents-5">
        <div style="padding-top:148.5%"></div>
        <div
          style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
          <img alt="Knot Dress"
            src="data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E"
            decoding="async"
            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
            sizes="(max-width: 400px) 200px ,500px"
            srcset="/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=16&amp;q=85 16w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=32&amp;q=85 32w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=48&amp;q=85 48w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=64&amp;q=85 64w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=96&amp;q=85 96w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=128&amp;q=85 128w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=256&amp;q=85 256w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=384&amp;q=85 384w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=640&amp;q=85 640w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=750&amp;q=85 750w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=828&amp;q=85 828w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1080&amp;q=85 1080w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1200&amp;q=85 1200w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=1920&amp;q=85 1920w, /_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0564%2F3619%2F5537%2Fproducts%2F2015-03-20_Ashley_Look_02_23541_15313.jpg%3Fv%3D1619862015&amp;w=2048&amp;q=85 2048w, data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E 3840w">
        </div>
        <div class="absolute py-4 bottom-0">
          <div class="px-4 text-[14px] lg:text-header-2 bg-white bg-opacity-25 font-bold uppercase mt-[10px]">Knot
            Dress</div>
          <div class="px-4 text-[14x] bg-white bg-opacity-25 uppercase mt-[2px] mb-[10px]">USD
            <!-- -->
            <!-- -->$278.60
          </div>
        </div>
      </div>
    </a>
      </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "cs": "product list",
    "da": "product list",
    "de": "product list",
    "en": "product list",
    "es": "product list",
    "fi": "product list",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "product list",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "product list",
    "nl": "product list",
    "pl": "Film",
    "pt-BR": "product list",
    "pt-PT": "product list",
    "sv": "product list",
    "th": "วิดีโอ",
    "tr": "product list",
    "vi": "product list",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "presets": [
    {
      "name": {
        "cs": "product list",
        "da": "product list",
        "de": "product list",
        "en": "product list",
        "es": "product list",
        "fi": "product list",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "product list",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "product list",
        "nl": "product list",
        "pl": "Film",
        "pt-BR": "product list",
        "pt-PT": "product list",
        "sv": "product list",
        "th": "วิดีโอ",
        "tr": "product list",
        "vi": "product list",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "product list",
        "da": "product list",
        "de": "product list",
        "en": "product list",
        "es": "product list",
        "fi": "product list",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "product list",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "product list",
        "nl": "product list",
        "pl": "Film",
        "pt-BR": "product list",
        "pt-PT": "product list",
        "sv": "product list",
        "th": "วิดีโอ",
        "tr": "product list",
        "vi": "product list",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}