@font-face {
  font-family: 'Minerva-Modern';
  src: url('Minerva-Modern.eot');
  src: url('Minerva-Modern.eot?#iefix') format('embedded-opentype'),
       url('Minerva-Modern.svg#Minerva-Modern') format('svg'),
       url('Minerva-Modern.ttf') format('truetype'),
       url('Minerva-Modern.woff') format('woff'),
       url('Minerva-Modern.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

