.fit {
  min-height: calc(100vh - calc(var(--header-height)));
}

.text-effect-1 {
  @apply inline overflow-hidden relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid currentColor;
    transition: width 0.3s;
  }
  &:hover:after {
    @apply text-current;
    width: 100%;
    left: 0;
  }
}
