.fit {
  min-height: calc(100vh - 88px);
}

.text-effect-1 {
  @apply inline overflow-hidden;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid;
    transition: width 0.3s;
  }
  &:hover:after {
    @apply text-primary;
    width: 100%;
    left: 0;
  }
}
