@tailwind base;
@layer base {
  @font-face {
    font-display: swap;
    font-family: 'shop2';
    src: local('shop2'), url(./fonts/shop2-book.woff2) format('woff2');
  }
  html,
  body {
    font-family: 'shop2', sans-serif;
    font-size: 1.125rem;
  }
  @import './base.css';
}

@tailwind components;
@layer components {
  @import './components.css';
}

@tailwind utilities;
