{% assign number_of_products = 5 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}
{%- assign width = '195' -%}
{%- assign height = '125' -%}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}
{% if collection and collection.products_count > 1 %}
<h4 class="Text_h4__10o6q text-center">YOU MAY ALSO LIKE</h4>
<div class=" py-6 px-0 lg:py-12 space-y-6 lg:space-y-10 overflow-x-auto">
  <div style="min-width: 800px;max-width: unset;"
    class=" Container_root__3ON0K md:min-w-full md:w-full ml-[-16px] md:mx-0">
    <div class="md:w-full space-x-xs md:space-x-md flex">
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {% for product in collection.products limit: number_of_products_to_fetch %}
      {% if product.handle == current_product.handle %}
      {% assign current_product_found = true %}
      {% else %}
      {% unless current_product_found == false and forloop.last %}
      {% include 'product-grid-item' %}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}
